.bg-credit-card-front {
  max-width: inherit;
  max-height: inherit;
  height: inherit;
  width: inherit;
}

.credit-card-front-container {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 166px;
  position: relative;
  /* top: -72px; */
}

.credit-card-number {
  position: absolute;
  align-self: center;
  top: 85px;
  color: hsl(0, 10%, 90%);
  font-size: 20px;
  letter-spacing: 1px;
}

.credit-card-name-exp {
  display: flex;
  position: absolute;
  font-size: 10px;
  color: hsl(0, 10%, 90%);
  gap: 140px;
  top: 132px;
  align-self: center;
  width: 100%;
}

.credit-card-exp {
  display: flex;
  margin-right: -5px;
  padding-left: 240px;
  width: 270px;
}

.month {
  position: absolute;
}

.slash {
  padding-left: 13px;
}

.year {
  padding-left: 1px;
}

.credit-card-name {
  margin-right: 6px;
  position: absolute;
  margin-left: 24px;
}

.credit-card-logo {
  width: 60px;
  height: 60px;
  position: absolute;
  margin-top: 15px;
  margin-left: 24px;
  position: absolute;
}

@media (min-width: 992px) {
  .credit-card-front-container {
    height: 210px;
    width: 380px;
    /* top: 200px;
    left: 50px; */
    grid-area: front;
  }

  .credit-card-logo {
    margin-top: 25px;
    width: 70px;
    height: 70px;
  }

  .credit-card-number {
    top: 118px;
    font-size: 25px;
    padding-right: 35px;
  }

  .credit-card-exp {
    padding-left: 310px;
  }

  .month {
    margin-left: -2px;
  }

  .credit-card-name-exp {
    top: 170px;
    font-size: 12px;
  }

  .credit-card-name-exp {
    top: 170px;
    font-size: 12px;
  }
}

/* @media (min-width: 1200px) {
  .credit-card-front-container {
    left: 120px;
  }
}

@media (min-width: 1440px) {
  .credit-card-front-container {
    left: 240px;
  }
} */
